<% include ../partials/header %>
<div class="jumbotron">
    <h1 class="display-3">EJS</h1>
    <p class="lead">Dynamic content</p>
    <hr class="my-2">
    <p>About Me</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">View</a>
    </p>
</div>

  <% include ../partials/footer %>