<% include ../partials/header %>
<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% home.forEach(function(product){%>
            <tr>
                <td scope="row"><%= product.title %></td>
                <td><%= product.firstname %></td>
                <td><%= product.lastname %></td>
            </tr>
            <% }); %>
            
        </tbody>
    </table>
</div>

  <% include ../partials/footer %>