<% include ../partials/header %>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
           
        </tr>
    </thead>
    <tbody>
    <% students.forEach(function(result) {%>
        <tr>
            <td scope="row"><%= result.sid %></td>
            <td><%= result.title %></td>
            <td><%= result.firstname %></td>
            <td><%= result.lastname %></td>
        </tr>
    <%}); %>
    </tbody>
</table>

  <% include ../partials/footer %>