<% include ../partials/header %>
<table class="table">
    <thead>
        <tr>
            <th>code</th>
            <th>title</th>
            <th>credits</th>
            <th>sections</th>
           
        </tr>
    </thead>
    <tbody>
    <% subjects.forEach(function(result) {%>
        <tr>
            <td scope="row"><%= result.code %></td>
            <td><%= result.title %></td>
            <td><%= result.credits %></td>
            <td><%= result.sections %></td>
        </tr>
    <%}); %>
    </tbody>
</table>

  <% include ../partials/footer %>